@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@media screen and (min-width: 50em) {
  article {
    margin: 3vw 5vw;
    padding: 40px 50px;
  }

  body > div {
    position: absolute;
    right: 0;
    width: 80%;
  } 

  figure {
    margin-top: 6vw;
  }
  
  header {
    height: 100vw;
    left: 0;
    position: fixed;
    width: 20vw;
  }
  
  header h1 {
    font-size: 1.8em;
    margin-bottom: 0;
    padding: 2vw 2.5vw 0 2vw;
    text-align: right;
  }
  
  header hr {
    width: 15vw;
  }
  
  header ul {
    padding: 0 2.5vw 2vw 0;
  }
  
  header li {
    font-size: .7em;
    padding: 0 0 .9vw 0;
  }
    
  h2 {
    font-size: 3.5vw;
  }
    
  img {
    width: 22vw;
  }
  
  p {
    font-size: .9em;
  }

  .post-date {
    font-size: 1.5vw;
  }

}
