@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

body {
    font-family: "Helvetica", "Arial", sans-serif;
  }
  
  header {
    background-color: #6495ED;  
  }
  
  header a {
    color: #FAEBD7;
  }
  
  h1 h2 {
    font-family: "Lora";
  }
  
  main {
    background-color: #FAEBD7;
  }
  
  nav {
    color: #FAEBD7;
    text-decoration: none;
  }
  
  nav a:hover {
    color: white;
    text-decoration: underline;
  }
  
  nav a:active {
    color: #DEB887;
    text-decoration: none;
  }